<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org/"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>HelpDesk - Spring App</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/app.css}" />
</head>
<body>

    <header>
        <th:block layout:replace="~{fragments/header}"></th:block>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>
    </main>

    <footer>
        <th:block layout:replace="~{fragments/footer}"></th:block>
    </footer>


    <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
</body>
</html>